html, body{
    margin: 0;
    height: 100%;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
$bg-color-dark: black;
$header-color-dark: black;
$nav-text-color-dark: #F3F3F3;
$content-text-color-dark: #F3F3F3;
$top-gradient-color-dark: black;
$bottom-gradient-color-dark: #1c2e4a;

$bg-color-light: #fff9d4;
$header-color-light: #fff9d4;
$nav-text-color-light: #0e1f33;
$content-text-color-light: #0e1f33;
$top-gradient-color-light: #fff9d4;
$bottom-gradient-color-light: #fbf4b5;


:root {
    --bg-color: #{$bg-color-dark};
    --header-color: #{$header-color-dark};
    --nav-text-color: #{$nav-text-color-dark};
    --content-text-color: #{$content-text-color-dark};
    --top-gradient-color: #{$top-gradient-color-dark};
    --bottom-gradient-color: #{$bottom-gradient-color-dark};
}

.light {
    --bg-color: #{$bg-color-light};
    --header-color: #{$header-color-light};
    --nav-text-color: #{$nav-text-color-light};
    --content-text-color: #{$content-text-color-light};
    --top-gradient-color: #{$top-gradient-color-light};
    --bottom-gradient-color: #{$bottom-gradient-color-light};
}

// $themes: (
//     dark: (
//         bg-color: $bg-color-dark,
//         header-color: $header-color-dark,
//         nav-text-color: $nav-text-color-dark,
//         content-text-color: $content-text-color-dark,
//         top-gradient-color: $top-gradient-color-dark,
//         bottom-gradient-color: $bottom-gradient-color-dark
//     ),
//     light: (
//         bg-color: $bg-color-light,
//         header-color: $header-color-light,
//         nav-text-color: $nav-text-color-light,
//         content-text-color: $content-text-color-light,
//         top-gradient-color: $top-gradient-color-light,
//         bottom-gradient-color: $bottom-gradient-color-light
//     )
// );

// @mixin themed() {
//   @each $theme, $map in $themes {
//     .#{$theme}-mode & {
//       $theme-map: () !global;
//       @each $key, $submap in $map {
//         $value: map-get(map-get($themes, $theme), '#{$key}');
//         $theme-map: map-merge($theme-map, ($key: $value)) !global;
//       }
//       @content;
//       $theme-map: null !global;
//     }e
//   }
// }

// @function t($key) {
//   @return map-get($theme-map, $key);
// }


// $bg-color: #198da8;
// $header-color: black;
// $nav-text-color: #F3F3F3;
// $content-text-color: #F3F3F3;
// $top-gradient-color: black;
// $bottom-gradient-color: #1c2e4a;
.base {

    background-color: var(--bg-color);

    .content {
        margin: 1em;
    }

    h1 {
        font-size: 5em;
    }

    .navbar-custom {
        background-color: var(--header-color);
    }

    .navbar {
        a,
        a:hover,
        a:active {
            color: var(--nav-text-color);
            font-family: "Garamond";
        }

        button {
            color: var(--nav-text-color);
            font-family: "Garamond";
            background-color: var(--header-color);
            border: 2px solid var(--nav-text-color); 
            border-radius: 12px;
        }
    }

    ul.dropdown-menu {
        --nav-text-color: black;
    }

    .content,
    .content a,
    .content a:hover {
        color: var(--content-text-color);
        font-family: "Garamond";
    }

    .baseNav {
        background-image: linear-gradient(var(--top-gradient-color), var(--bottom-gradient-color));
        color: var(--content-text-color);
        min-height: 100%;
        height: fit-content;
    }

    .center {
        display: flex;
        justify-content: center;
    }

    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    table {
        border: 1px solid var(--content-text-color);

        tr, th, td {
            border: 1px solid var(--content-text-color);
        }
    }
}


// :root{
//     --bgColor: #198da8;
//     --header-color: black;
//     --nav-text-color: #F3F3F3;
//     --content-text-color: #F3F3F3;
// }

// $bg-color: #198da8;
// $header-color: #fff9d4;
// $nav-text-color: #0e1f33; t
// $content-text-color: #0e1f33;
// $top-gradient-color: #fff9d4;
// $bottom-gradient-color: #fbf4b5;
// .light-mode {
//     @extend .dark-mode;
// }