{% extends "anthonyBase.html" %}


{% block meta %} 
<title>Anthony Vo</title>
{% endblock %} 

{% block content %}

<p>Hi! My name's Anthony Vo. Welcome to my individual section!</p>

<p>Here are my TFT and League statistics</p>

{% for user in users %}
<p>Username: {{ user.username }}</p>
<table>
    <tr>
        <th>Gamemode</th>
        <th>Rank</th>
        <th>LP</th>
        <th>Winrate</th>
    </tr>
    {% for gamemode in user.lol_stats %}
    {% if mode_dict[gamemode.queueType] != 'TFT Double Up' %}
    <tr>
        <td>{{mode_dict[gamemode.queueType]}}</th>
        <td>{{gamemode.tier}} {{gamemode.rank}}</th>
        <td>{{gamemode.leaguePoints}} LP</th>
        <td>{{ gamemode.wins / (gamemode.losses + gamemode.wins) * 100 }}%</td>
    </tr>
    {% endif %}
    {% endfor %}

    {% for gamemode in user.tft_stats %}
    <tr>
        <td>{{mode_dict[gamemode.queueType]}}</th>
        <td>{{gamemode.tier}} {{gamemode.rank}}</th>
        <td>{{gamemode.leaguePoints}} LP</th>
        <td>{{ gamemode.wins / (gamemode.losses + gamemode.wins) * 100 }}%</td>
    </tr>
    {% endfor %}
</table>
<br />
<br />
{% endfor %}

<form id="form" method="post">
    <input type="text" name="accountId" required>
    <input type="submit" value="Look up your own account!">
</form>

<p>Create a procedure given a random number between 1-100 determine if its an even or odd, also determine if it is prime number</p>
<p id="guessNumber">Number</p>
<button onclick="randomNumber()">Generate Number</button>

<script>
    function randomNumber() {
        const rand = Math.floor(Math.random() * 100) + 1;
        let even = rand % 2 == 0;
        let prime = checkPrime(rand);

        let numberInfo = "";
        
        if (even && prime) {
            numberInfo = "The number " + rand + " is even and prime.";
        }
        if (even && !prime) {
            numberInfo = "The number " + rand + " is even and not prime.";
        }
        if (!even && prime) {
            numberInfo = "The number " + rand + " is odd and prime.";
        }
        if (!even && !prime) {
            numberInfo = "The number " + rand + " is odd and not prime.";
        }

        document.getElementById("guessNumber").innerHTML = numberInfo;
    }

    function checkPrime(number) {
        for (i = 1; i <= number; i++) {
            if (number % i == 0 && number != i && i != 1) {
                return false;
            }
        }
        return true;
    }
</script>
{% endblock %}