{% extends "layouts/base.html" %}


{% block meta %} 
<title>Create Task</title>
{% endblock %} 

{% block content %}

<h1 class="center first">Create Task</h1>
<h2 class="center first">Check out our create task projects!</h2>

<div class="mainText second" style="font-size: 1.5rem">
    <ul>
        <li><a href="/create-task/anthony">Anthony Vo</a></li>
        <li><a href="/create-task/matthew">Matthew Cao-Manaka</a></li>
        <li><a href="/create-task/chris">Christopher Hom</a></li>
        <li><a href="/create-task/tigran">Tigran Arakelov</a></li>
        <li><a href="/create-task/derek">Derek Bokelman</a></li>
    </ul>
</div>

{% endblock %}
