{% extends "layouts/base.html" %}

{% block meta %}
<title>Create Task</title>
{% endblock %}

{% block content %}
<html>
    <body>
        <style>
            body {
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100% 100%;
            }

            button {
                background-color: dimgray;
                color: white;
            }
        </style>
        <div style="text-align: center;">
            <br>
            <br>
            <button class="box" style='transform: scale(1.4); position: center;' onclick="myfunction()">
                <img src="../static/assets/images/catanthony.png">
            </button>
            <br>
            <br>
            <br>
            <button class="box" style="position: relative; left:450px; bottom:240px;">
                Buy Bruh Anthony
            </button>
            <div style='transform: scale(1.25);'>
                <br>
                <br>
                <div class="texty" style="font-size: 30px" id="var">Clicks: 0</div>
                <br>
                <div class="texty" style="font-size: 25px" id="var">
                    <h1 style="font-size: 35px">U p g r a d e s !</h1>
                </div>
                <button type="button" onclick="upgradeclick()">
                    <div class="inline" id="upgrade">Anthony Button Upgrades: 0</div>
                </button>
                <div class="texty" style="font-size: 20px" id="var">
                    <div id="cost">cost: 10</div>
                </div>
                <br>
                <button type="button" onclick="buyupgrade()">
                    <div class="inline" id="buttonupgrade">Auto Anthony Clickers: 0</div>
                </button>
                <div class="texty" style="font-size: 20px" id="var">
                    <div id="cost4">cost: 50</div>
                </div>
                <br>
                    <div id="hiddentest">
                        <button type="button" onclick="buyupgrade1()">
                            <div id="ultra" class="inline">Mega Anthony Clickers: 0</div>
                        </button>
                        <div class="texty" style="font-size: 20px" id="var">
                            <div id="cost2">cost: 100</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="script.js"></script>
    </body>
</span>

<script>
    var e = 0;
    var upg = 0;
    var upg2 = 0;
    var upg3 = 0;
    var upg4 = 0;
    var upg5 = 0;
    var upg6 = 0;
    var clickval = 0;
    var clickval1 = 0;
    var clickval3 = 0;
    var clickval4 = 0;
    var clickval6 = 0;
    var speed = 1010;
    var cost = 10;
    var cost2 = 100;
    var cost3 = 1000;
    var cost4 = 50;
    var cost5 = 5000;
    var cost6 = 10000;

    var buttonvalue = 1;
    var hide = document.getElementById("hiddentest");
    var up = document.getElementById("ultra");
    var up4 = document.getElementById("buttonupgrade");
    var cst2 = document.getElementById("cost2");
    var cst3 = document.getElementById("cost3");
    var cst4 = document.getElementById("cost4");
    var cst5 = document.getElementById("cost5");
    var cst6 = document.getElementById("cost6");
    var upgbuy2 = false;
    var check = false;
    var check1 = false;
    var check3 = false;
    var check4 = false;
    var check6 = false;
    var upgbuy3 = false;
    var upgbuy4 = false;
    var upgbuy6 = false;
    var upgbuy = false;
    var hiddenoof = false;

    hide2.style.visibility = 'hidden';

    //  Changing the value of clicks
    function click() {
        e = e + clickval1;
        updac();
    }
    function click1() {
        e = e + clickval;
        updac();
    }
    function click3() {
        e = e + clickval3;
        updac();
    }
    function click4() {
        e += clickval4;
        updac();
    }
    function click6() {
        e += clickval6;
        updac();
    }
    hide.style.visibility = 'hidden';

    //  Changes the the number of Clicks when button is pressed
    function myfunction() {
        e = e + buttonvalue;
        document.getElementById("var").innerHTML = "Clicks: " + e;
        if (e >= 100) {
            hide.style.visibility = 'visible';
        }
    }

    function updac() {
        document.getElementById("var").innerHTML = "Clicks: " + e;
    }
5
    //  Sets cost value and increases the number of clicks gained from one click for the Anthony Button Upgrades
    function upgradeclick() {
        if (e >= cost) {
            upg = upg + 1;
            e = e - cost;
            cost = cost + 10;
            buttonvalue = buttonvalue + 1;
            document.getElementById("upgrade").innerHTML = "Anthony Button Upgrades: " + upg;
            document.getElementById("cost").innerHTML = "cost: " + cost;
            updac();

        } else {
            alert(mtl+"\"Anthony Button Upgrades\"!");
        }
    }

    //  Sets cost value and adds 1 to the number of clicks with each Auto Anthony Clickers automatically
    function buyupgrade() {
        if (e >= cost4) {
            e = e - cost4;
            upg4 = upg4 + 1;
            upgbuy = true;
            clickval = clickval + 1;
            cost4 = cost4 + 25;
            up4.innerHTML = "Auto Anthony Clickers: " + upg4;
            cst4.innerHTML = "cost: " + cost4;
            updac();

            if (check1 === false) {
                if (upgbuy === true) {
                    setInterval(click1, 2000);
                    check1 = true;

                }
            }

        } else {
            alert(mtl + "\"Auto Anthony Clickers\"!");
        }
    }

    //  Sets cost and adds 5 to the number of clicks with each Mega Anthony Clicker at a faster rate automatically
    function buyupgrade1() {
        if (e >= cost2) {
            upg2 = upg2 + 1;
            e = e - cost2;
            cost2 = cost2 + 50;
            clickval1 = clickval1 + 5;
            upgbuy2 = true;
            cst2.innerHTML = "cost: " + cost2;
            up.innerHTML = "Mega Anthony Clickers: " + upg2;
            updac();
            if (check === false) {
                if (upgbuy2 === true) {

                    setInterval(click, 1000);
                    check = true;
                }
            }
        } else {
            alert(mtl+"\"Mega Anthony Clickers\"!");
        }
    }
</script>
</html>
{% endblock %}