{% extends "layouts/base.html" %}
{% block meta %}
    <title>Samuel and Isaac Create Task</title>
{% endblock %}

{% block content %}
<style>
    h1 {
        color:white;
        text-align:left;
        font-family:"DengXian Light";
        font-weight: bold;
        display:inline-block;
    }
    img {
        height: auto;
        width: auto;
        max-width: 100px;
        max-height: 100px;
        margin-right:10px;
    }
</style>
<div style="display:inline-block;vertical-align:top;">
    <img src="/static/assets/images/spotify.png">
</div>
<h1>Spotify Finder</h1>
<body>
<form id="form" method="post">
    <input type="text" name="accountId" required>
    <input type="submit" value="Look up an artist!">
</form>
</body>
</html>

{% endblock %}