{% extends "layouts/base.html" %}


{% block meta %} 
<title>About Us</title>
{% endblock %} 

{% block content %}
Click on an Image to change it (you need to click on anthony's multiple times because he is a weird)
<div class="row">
    <div class="col-sm">
        <h3>Ethan Gravin</h3>
        <img src="/static/assets/images/ethantri2photo_1_ADD.jpg" width="100%" id="ethanimg" onclick="ethanImg()" >
        <h4>Interests</h4>
        <ul>
            {% for interest in ethan %}
                <li>{{ interest }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm">
        <h3>Isaac Le</h3>
        <img src="/static/assets/images/isaacblanket.jpg" width="100%" id="isaacimg" onclick="isaacImg()">
        <h4>Interests</h4>
        <ul>
            {% for interest in isaac %}
            <li>{{ interest }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm">
        <h3>Erik Peterson</h3>
        <img src="/static/assets/images/erikfirstimage.jpg" width="100%" id="erikimg" onclick="erikImg()">
        <h4>Interests</h4>
        <ul>
            {% for interest in erik %}
                <li>{{ interest }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm">
        <h3>Anthony Vo</h3>
        <img src="/static/assets/images/catanthony.png" width="100%" id="anthonyimg" onclick="anthonyImg()" >
        <h4>Interests</h4>
        <ul>
            {% for interest in anthony %}
            <li>{{ interest }}</li>
            {% endfor %}
            <br />
            <a href="/anthony">Link to individual section</a>
        </ul>
    </div>
    <div class="col-sm">
        <h3>Samuel Wang</h3>
        <img src="/static/assets/images/samuelpicture.png" width="100%" id="samuelpicture" onclick="samuelpic()">
        <h4>Interests</h4>
        <ul>
            {% for interest in samuel %}
            <li>{{ interest }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

<!-- 
    JavaScript Code
-->

<script>
    var anthonyVar = 0;
    function anthonyImg () {
        const element = document.getElementById("anthonyimg");
        if (anthonyVar == 0) {
            let random = Math.floor(Math.random() * 50);
            if (random == 1) {
                element.src = "/static/assets/images/bracesanthony.png";
                anthonyVar = 1;
            }
        } else {
            element.src = "/static/assets/images/catanthony.png";
            anthonyVar = 0;
        }
    }

    var erikVar = 0;
    function erikImg () {
        const element = document.getElementById("erikimg");
        if (erikVar == 0) {
            element.src = "/static/assets/images/eriksecondimage.jpg";
            erikVar = 1;

        }   else {
            element.src = "/static/assets/images/erikfirstimage.jpg";
            erikVar = 0;
        }
    }
    var samuelVar = 0;
    function samuelpic () {
        const element = document.getElementById("samuelpicture");
        if (samuelVar == 0) {
                element.src = "/static/assets/images/samuelnomask.png";
                samuelVar = 1;

        }   else {
            element.src = "/static/assets/images/samuelpicture.png";
            samuelVar = 0;
        }
    }

    var ethanMask = 1;
    function ethanImg () {
        const element = document.getElementById("ethanimg");
        if (ethanMask == 0) {
            element.src = "/static/assets/images/ethantri2photo_1_ADD.jpg";
            ethanMask = 1;

        }   else {
            element.src = "/static/assets/images/unmaskETHAN.jpg";
            ethanMask = 0;
        }
    }
    var isaacVar = 0;
    function isaacImg () {
        const element = document.getElementById("isaacimg");
        if (isaacVar == 0) {
            element.src = "/static/assets/images/isaacmaskoff.jpeg";
            isaacVar = 1;

        } else {
            element.src = "/static/assets/images/isaacblanket.jpg";
            isaacVar = 0;
        }
    }
</script>

{% endblock %}