<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
    <form action="" method="post">
        <label>Username</label><br>
        <input name="username" type="email" placeholder="username"><br><br>
        <label>Password</label><br>
        <input name="password" type="password" placeholder="password"><br><br>
        <input type ="submit" value="LOGIN"><br><br>
    </form>
</div>
<div>
    <form action="/new">
        <label>Create an Account"</label>
        <input value="Register" type="submit">
    </form>
</div>
</body>
</html>