<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div>
    <form action="" method="post">
        <label>Name</label><br>
        <input type="text" name="one" id="name"><br><br>
        <label>Username</label><br>
        <input type="email" name="two" id="username"><br><br>
        <label>Password</label><br>
        <input type="password" name="three" id="password"><br><br>
        <input type ="submit" value="CREATE USER"><br><br>
    </form>
</div>
</body>
</html>