{#{% extends "layouts/base.html" %}#}
{##}
{##}
{#{% block meta %}#}
{#    <title>test db</title>#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#    <div class="container">#}
{#        <h1>ddd</h1>#}
{#        <br/>#}
{#        <form action="/test" METHOD="POST">#}
{#            <input type="text" placeholder="Name" name="name">#}
{#            <input type="submit" value="Add Name" class="btn btn-secondary">#}
{#        </form>#}
{#    <br/><br/>#}
{#    {% for friend in friends %}#}
{#        <p> {{ friend.name }}</p>#}
{#    {%  endfor %}#}
{#    </div>#}
{#    <p>{{ error_message }}</p>#}
{##}
{#{% endblock %}#}